* {
  padding: 0px;
  margin: 0px;
}
.body {
  background-color: #3f3f3f;
  padding: 15px 450px;
}
.page-1 {
  background-color: #ffffff;

  .header {
    padding: 50px 150px 20px 150px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .judul h3 {
    padding: 50px 180px 20px 180px;
    text-align: center;
  }

  .judul p,
  address {
    text-align: center;
  }

  .sub-judul {
    font-weight: bold;
  }

  .abstrak {
    padding: 30px 150px 15px 150px;
    text-align: justify;
  }

  .abstrak-english {
    padding: 5px 150px 20px 150px;
    text-align: justify;
  }

  .pendahuluan {
    padding: 0px 150px 20px 150px;
    text-align: justify;
  }
  article {
    text-indent: 2em;
  }
}

.page-2 {
  background-color: #ffffff;

  .header-2 {
    padding: 50px 150px 20px 150px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .isi {
    padding: 40px 150px 20px 150px;
    text-align: justify;
    text-indent: 2em;
  }
}
