* {
  padding: 0px;
  margin: 0px;
}
.body {
  background-color: #3f3f3f;
  font-family: "Times New Roman", Times, serif;
}
.page-1 {
  width: 210mm; /* Ukuran A4 */
  height: 297mm;
  margin: 20px auto;
  background: white;
  padding: 20mm;
  position: relative;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .judul {
    padding-top: 20mm;
    text-align: center;
  }

  .sub-judul {
    padding-top: 5mm;
    font-weight: bold;
  }

  .abstrak {
    padding-top: 10mm;
    text-align: justify;
  }

  .abstrak-english {
    padding-top: 5mm;
    text-align: justify;
    font-style: italic;
  }

  .pendahuluan {
    padding-top: 10mm;
    text-align: justify;
  }

  .pendahuluan article {
    text-indent: 2em;
  }
}

.page-2 {
  width: 210mm; /* Ukuran A4 */
  height: 297mm;
  margin: 20px auto;
  background: white;
  padding: 20mm;
  position: relative;
  overflow: hidden;

  .header-2 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .isi {
    margin-top: 50px;
    margin-bottom: 20px; /* Beri jarak untuk footer */
    text-align: justify;
    font-size: 12pt;
    line-height: 1.5;
    text-indent: 2em;
  }
  .isi-1 {
    text-indent: 0em;
  }
}

.page-3 {
  width: 210mm; /* Ukuran A4 */
  height: 297mm;
  margin: 20px auto;
  background: white;
  padding: 20mm;
  position: relative;
  overflow: hidden;

  .header-2 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .isi {
    margin-top: 50px;
    margin-bottom: 20px; /* Beri jarak untuk footer */
    text-align: justify;
    font-size: 12pt;
    line-height: 1.5;
    text-indent: 2em;
  }
  .isi-2 {
    text-indent: 0em;
  }

  .dasar-teori {
    padding-top: 10mm;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 0em;
  }
  .sub-judul {
    text-transform: capitalize;
    font-weight: bold;
    text-indent: 0em;
  }
}
